@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Base Colors */
        --color-background: #ffffff;
        --color-text: #262626;

        /* UI Containers -> sidebars, cards, section containers */
        --color-surface: #f9fafb;

        /* Button */
        --color-button-bg: #3b82f6;
        --color-button-hover: #2563eb;

        /* Secondary Button */
        --color-button-secondary-bg: #f3f4f6;
        --color-button-secondary-hover: #e5e7eb;

        /* Borders */
        --color-border: #d1d5db;

    }

    [data-theme="dark"] {
        /* Base Colors */
        --color-background: #0d0d0d;
        --color-text: #f5f5f5;

        /* UI Containers -> sidebars, cards, section containers */
        --color-surface: #1a1a1a;

        /* Button */
        --color-button-bg: #3b82f6;
        --color-button-hover: #2563eb;

        /* Secondary Button */
        --color-button-secondary-bg: #2e2e2e;
        --color-button-secondary-hover: #3a3a3a;

        /* Borders */
        --color-border: #ffffff;
    }

    [data-theme="forest"] {
        /* Base Colors */
        --color-background: #0c1f1a;
        --color-text: #e6f4ea;

        /* UI Containers -> sidebars, cards, section containers */
        --color-surface: #133329;

        /* Button */
        --color-button-bg: #0f5132;
        --color-button-hover: #0b3c24;

        /* Secondary Button */
        --color-button-secondary-bg: #1c3329;
        --color-button-secondary-hover: #264237;

        /* Borders */
        --color-border: #355e4c;
    }
}
