.homeContainer {
    border-radius: 20px;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
}

.homeHeader {
    background: linear-gradient(120deg, rgba(4,186,192,1) 10%, rgba(9,9,121,1) 80%, rgba(4,186,192,1) 100%);
    border-radius: 20px;
    align-content: center;
    padding: 20px;
    margin-bottom: 10px;
}


